doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title SISTER JSON-RPC
    block css
      link(rel='stylesheet', href='/components/material-design-lite/material.min.css')
      link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
      link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet", href="/css/alertify.min.css")
      link(rel="stylesheet", href="/css/default.min.css")
      link(rel="stylesheet", href="/css/smileys.css")
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
    script(src='/js/socket.io.js')
    script(src='/components/jquery/dist/jquery.js')
    script(src='/js/alertify.min.js')
    script(src='/components/material-design-lite/material.min.js')
    script(src='/js/blowfish.js')
    script(src='/js/smileys.js')
    script(src='/components/randomcolor/randomColor.js')
    script(src='/js/script.js')
    
