body {
  background-color: #EEEEEE;
  font-family: "Roboto", "Helvetica", "Arial";
}
.content-message {
  position: fixed;
  padding: 10px 40px;
  bottom: 0;
  width: 100% !important;
  background: #E3F2FD;
  box-shadow: 0 2px 5px 5px #9E9E9E;
}
.content-message__text {
  width: 88% !important;
  margin-right: 2% !important;
}
.mdl-card {
  min-height: 0 !important;
  width: auto !important;
  margin: 10px
}
.mdl-card__title {
  padding: 5px !important;
}
.mdl-card__title p {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 !important;
  padding-left: 20px;
}
.end {
  display: flex;
  display: webkit-flex;
  justify-content: flex-end !important;
  width: 100%;
  padding-right: 10px;
  position: absolute;
  right: 0;
  color: #9E9E9E;
}